DUFFEL_API_TOKEN=duffel_test_XXXX
HOTEL_PROVIDER=booking
RAPIDAPI_BOOKING_KEY=rapidapi_booking_key
BOOKING_CURRENCY=USD
MAKCORPS_API_KEY=makcorps_api_key
MAKCORPS_HOTEL_LOOKUP_LIMIT=3
MAKCORPS_JWT=makcorps_test_jwt
PORT=8083
HOST=0.0.0.0
